.env
.venv
.vscode
server.log
911_calls.json
__pycache__
*.pyc
*.pyo
*.pyd
*.class
*.o
*.so
*.exe
*.dll
*.lib
*.a
*.obj
*.o
*.a
*.dll
*.exp
*.lib
*.idb
*.pdb
*.ilk
*.cache
*.log
*.suo
*.sln
*.suo
*.ncb
*.plg
*.user
*.aps
*.pch
*.bsc
*.ilk
*.ipch
*.res
*.pch
*.opt
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.sublime-workspace
*.sln
*.suo
*.ntvs*
*.nupkg
*.snk
*.pfx
*.pubxml
*.pubxml.user
*.pubxml.user
*.pubxml.user
